.screens-wrapper.row

  //------ Categories ------//
  .small-3.columns.screens-categories-list
    %h2 Your downloads

  .small-9.columns.screens-right-panel
    //------ Cards -------//
    .screens-card-list
      %ul.small-block-grid-5
        - @downloaded_screens.each do |downloaded_screen|
          %li
            - cache downloaded_screen do
              = render "shared/card", screen: downloaded_screen.screen
