.screens-wrapper.row
  .small-3.columns.screens-categories-list
    .searched-for.text-right
      Results for
    .search-term
      = params[:search]
      = link_to "x", screens_path

  .small-9.columns.screens-right-panel
    //------ Cards -------//
    .screens-card-list
      %ul.small-block-grid-5
        - @screens.each do |screen|
          %li
            - cache screen do
              = render partial: "shared/card", locals: { screen: screen }

= render partial: "shared/screen_modal"

