.screens-wrapper.row

  .small-3.columns.screens-categories-list
    %h2 Your favorites

  .small-9.columns.screens-right-panel
    //------ Cards -------//
    .screens-card-list
      %ul.small-block-grid-5
        - @favorite_screens.each do |favorite_screen|
          %li
            - cache favorite_screen do
              = render "shared/card", screen: favorite_screen.screen
