%div.row
  %div.small-12.columns.wrapper
    %div.columns.small-3
      = render 'links'
    %div.forms.small-9.columns#partial
      %div#edit-user.row
        = link_to "Sign out", destroy_user_session_path, :method => :delete
        = render partial: 'form'
