%div.small-12.columns#nav
  %h1.small-3.medium-2.columns.text-right Adam
  %div.small-6.medium-8.columns#search-form
    = form_tag screens_path, method: 'get' do
      %div.search-field
        = text_field_tag :search, params[:search], placeholder: 'Search for a type of screen'
        %span.search-icon &#9906;
      = submit_tag 'Search', id: 'search-submit'
  %div.small-3.medium-2.columns
    %div.icon-bar.three-up
      %a.item{ href: '#' }
        %i.icon-heart
      %a.item{ href: '#' }
        %i.icon-download-cloud
      %a.item{ href: '#' }
        %i.icon-user
