.small-12.columns#nav
  %h1.small-2.medium-2.columns.text-right= link_to "Adam", screens_path
  - if current_user.present?
    = render "layouts/nav_search"
    = render "layouts/nav_links"
  - else
    = render "layouts/signed_out_sidebar"
