%div.small-4.medium-3.large-2.columns
  %div.icon-bar.three-up
    %a.item{ href: favorite_screens_path }
      %i.icon-heart
    %a.item{ href: downloaded_screens_path }
      %i.icon-download-cloud
    %a.item{ href: profile_path }
      %i.icon-user
